@charset "UTF-8";


.popup{
	width: 326px;
	height: 400px;
	background: white;
	box-shadow: 4px 4px 70px 10px rgb(0 0 0/11%);
	border-radius: 25px;
	
	display: block;
	position: fixed;
	 bottom: 15%;
	 left: 50%;
      transform: translateX(-50%);
    
 padding: 20px;

 border-radius: 5px;
 z-index: 9999;
}

.imgbox{
	text-align: center;
}

.img{
	width: 112px;
	margin-top: 40px;
}
.title{
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-align: center;
	margin: auto;
}

.para{
	font-weight: 500;
	width: 80%;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 0.05em;
	text-align: center;
	margin: auto;
}

.button-ok {
   background-color: #007bff;
   color: #fff;
  border: none;
   border-radius: 5px;
    padding: 10px 20px;
   cursor: pointer;
  float: right;
}



.welcome-message {
    text-align: center; /* Center align the content */
    background-color: #f0f0f0; /* Light gray background */
    padding: 20px; /* Add some padding */
    border-bottom: 2px solid #333; /* Dark gray border */
}

.welcome-message h1 {
    color: #333; /* Dark gray text color */
    font-size: 32px; /* Larger font size for the heading */
    margin-bottom: 10px; /* Add some space below the heading */
}

.welcome-message p {
    color: #666; /* Gray text color */
    font-size: 18px; /* Medium font size for the paragraph */
}










